target/
src-gen/
xtend-gen/
bin/
bundles/io/org.openhab.io.multimedia.tts.marytts/lib/
.antlr*
.metadata/
*/plugin.xml_gen
distribution/openhabhome/logs/*.log
distribution/openhabhome/*.zip
distribution/openhabhome/etc/rrd4j/*.rrd
*.iml
.idea/
distribution/openhabhome/etc/db4o/
distribution/openhabhome/logs/
distribution/openhabhome/webapps/static/

*.iws

*.ipr

bundles/core/org.openhab.core.test/webapps/static/uuid

bundles/core/org.openhab.core.test/webapps/static/version
